/* Main */
:root {
  --font-roboto: 'Roboto', sans-serif;
  --font-opensans: 'Open Sans', sans-serif;
  --nav-color: #1abc9c;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: var(--font-roboto);

  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* CONTAINER */
.container {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 245px;
  padding-right: 245px;
}

/* HEADER */
.page-header {
  min-height: 42px;
  margin-top: 35px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.06;
  text-transform: uppercase;
  letter-spacing: -1px;
  text-decoration: none;
  color: inherit;
}

.first-logo {
  color: var(--nav-color);
  font-weight: 900;
}

.nav-list {
  display: flex;
  margin-left: auto;
}

.nav-link {
  color: #0f0101;
  font-family: var(--font-opensans);
  font-weight: 900;
  font-size: 14px;
  line-height: 0.78;
  text-transform: uppercase;
  text-decoration: none;
}

.link {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.link:last-child {
  padding-right: 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--nav-color);
}

/* GALLERY */
.gallery .title {
  font-size: 48px;
  line-height: 0.66;
  font-weight: 900;
  color: #515151;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 130px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
}
.gallery-item {
  flex-basis: calc(100% / 4 - 22, 5px);
  flex-grow: 0;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-item:nth-child(4n) {
  margin-right: 0;
}

.gallery-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.price-icon {
  display: flex;
  text-decoration: none;
  margin-left: auto;
  margin-top: -4px;
  font-size: 18px;
  font-weight: 900;
}

.price-title {
  text-transform: uppercase;
  padding-left: 13px;
  padding-top: 13px;
  margin: 0;
  background-color: #323232;
  color: #fff;
  flex-grow: 1;
}

.price {
  font-size: 18px;
  padding: 13px;
  margin: 0;
  background-color: #8c8c8c;
  color: #fff;
}

.gallery-item:hover .price-title {
  background-color: #1abc9c;
}

.gallery-item:hover .price {
  background-color: #7fd9c7;
}

/* BLOG */
.blog .title {
  font-size: 48px;
  font-weight: 900;
  line-height: 0.66;
  text-transform: uppercase;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 110px;
}

.blog-article {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 45px;
}

.blog-list {
  flex-basis: calc(100% / 3 -20px);
  flex-grow: 0;
  margin-right: 30px;
}
.blog-list:last-child {
  margin-right: 0;
}

.blog-title {
  font-size: 18px;
  font-family: var(--font-opensans);
  font-weight: 600;
  line-height: 1.44;
  color: #555252;
  padding-top: 14px;
  margin-top: -8px;
  margin-bottom: 45px;
}

.blog-item {
  font-family: var(--font-opensans);
  font-size: 14px;
  line-height: 1.85;
  color: #555252;
  margin-bottom: 17px;
}

.button {
  display: inline-block;
  font-family: var(--font-opensans);
  font-weight: 300;
  font-size: 16px;
  line-height: 1.625;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-color: #4ec6ab;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 45px;
  padding-left: 45px;
}
